.button {
  text-transform: capitalize;
  margin: auto 5px;
  cursor: pointer;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 15%;
  font-size: 12px;
  padding: 2px 8px;
}

.button:hover {
  background-color: rgb(35, 148, 223);
}
